<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    <!-- {# Load CSS and JavaScript #} -->
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!-- {# Display django.contrib.messages as Bootstrap alerts #} -->
    {% bootstrap_messages %}
    <title>Book</title>
</head>
<body>
    <!-- se incluye el navbar como componente-->
    {% include 'navbar.html' %}
    {%  block content %%}
    {% endblock %}
</body>
</html>