{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load bootstrap5 %}
{% block content %}
    <section class="container mt-5">
        <h2 class="text-center">Registro</h2>
        {% bootstrap_messages %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="{% url 'registro' %}" method="post">
                    {% csrf_token %}
                    <!-- https://django-crispy-forms.readthedocs.io/en/latest/crispy_tag_forms.html -->
                    {{ form|crispy }}
                    <input type="submit" value="Guardar" class="btn btn-primary w-100">
                </form>
            </div>
        </div>
    </section>
{% endblock %}